/*sidebar*/

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 252px;
    min-height: 100vh;
    padding: 50px 15px 60px 55px;
}

.sidebar__logo {
    margin-bottom: 57px;
}

.nav__title {
    font-weight: 700;
    margin-bottom: 45px;
    font-size: 30px;
}
.nav__list {
    font-size: 16px;
}

.nav__list li{
    margin-bottom: 28px;
}

.nav__list a {
    transition: color 0.2s ease-in;
}

.nav__list a:hover{
    color: #fd2e24;

}

.nav__list img{
    width: 26px;
    object-fit: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.help {
    margin-top: auto;
}

.help img {
    font-size: 16px;
    object-fit: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px;
}

/*main*/

.main {
    width: 1100px;
    background-color: aquamarine;
    padding: 45px 45px 55px 35px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

/*search*/

.header__search {

}

.search {
    width: 490px;
    height: 44px;
}

.search__label {
    display: flex;
    height: 100%;
}
.search__icon {

}
.search__input {
    padding: 0 17px;
    flex-grow: 1;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Circular Std';
}

.search__input::placeholder {
    color: rgba(0, 0, 0, 0.20);
}

/*nav*/
.header__nav {
    font-family: 'Circular Std';
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-link {
    position: relative;

    font-weight: 400;
    font-size: 17px;
}

.header__nav-link.active::after {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 72px;
    height: 2px;
    background-color: #000;


}

.header__nav-link + .header__nav-link {
    margin-left: 42px;
}

.header__nav-icon + .header__nav-icon{
    margin-left: 25px;
}

.header__nav-link + .header__nav-icon{
    margin-left: 50px;
}
